<div class="list-item-inner">
  <span class="sensor-id"><%= id %></span>
  <span class="sensor-location"><%= location %></span>
  <span class="sensor-type"><%= type %></span>
  <a href="/sensors/<%= id %>">Show</a>
  <a href="/sensors/<%= id %>/edit">Edit</a>
  <a href="/sensors/<%= id %>/destroy" class="destroy">Destroy</a>
</div>
