<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @sensor.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @sensor.longitude %>
</p>

<p>
  <strong>Type:</strong>
  <%= @sensor.type %>
</p>

<p>
  <strong>Active:</strong>
  <%= @sensor.active %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
